body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.theme{
  color: chartreuse;
}
.header{
  font-size:2.5vw;
  color:chartreuse;
  letter-spacing: 10px;
}
.border-theme{
  border-color: chartreuse;
}
.white{
  color: whitesmoke;
  font-size: large;

}
.white:hover{
  color: chartreuse;
}
.dark:hover{
  color: chartreuse;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
